[Desktop Entry]
Version=1.1
Type=Application
Name=Azure Storage Explorer
Exec=/opt/microsoft/storage-explorer/StorageExplorer
Icon=/opt/microsoft/storage-explorer/resources/app/out/app/media/StorageExplorerLetterpress.svg
Categories=Database;Development;System;
Terminal=false
