[default]
name                    = default
app_id                  =
url                     = https://federation.reedelsevier.com/adfs/ls/IdpInitiatedSignOn.aspx
username                = zoldakj@science.regn.net
provider                = ADFS
mfa                     = Auto
skip_verify             = ffalse
timeout                 = 0
aws_urn                 = urn:amazon:webservices
aws_session_duration    = 3600
aws_profile             = saml
resource_id             =
subdomain               =
role_arn                =
region                  =
http_attempts_count     =
http_retry_delay        =
credentials_file        =
saml_cache              = false
saml_cache_file         =
target_url              =
disable_remember_device = false
disable_sessions        = false

[em-ad-prod-admin]
app_id               =
url                  = https://federation.reedelsevier.com/adfs/ls/IdpInitiatedSignOn.aspx
username             = zoldakj@science.regn.net
provider             = ADFS
mfa                  = Auto
skip_verify          = false
timeout              = 0
aws_urn              = urn:amazon:webservices
aws_session_duration = 3600
aws_profile          = em-ad-prod-admin
resource_id          =
subdomain            =
role_arn             = arn:aws:iam::692824280932:role/ADFS-EnterpriseAdmin

[em-backup-admin]
app_id               =
url                  = https://federation.reedelsevier.com/adfs/ls/IdpInitiatedSignOn.aspx
username             = zoldakj@science.regn.net
provider             = ADFS
mfa                  = Auto
skip_verify          = false
timeout              = 0
aws_urn              = urn:amazon:webservices
aws_session_duration = 3600
aws_profile          = em-backup-admin
resource_id          =
subdomain            =
role_arn             = arn:aws:iam::723791386045:role/ADFS-EnterpriseAdmin

[em-network-prod-admin]
app_id               =
url                  = https://federation.reedelsevier.com/adfs/ls/IdpInitiatedSignOn.aspx
username             = zoldakj@science.regn.net
provider             = ADFS
mfa                  = Auto
skip_verify          = false
timeout              = 0
aws_urn              = urn:amazon:webservices
aws_session_duration = 3600
aws_profile          = em-network-prod-admin
resource_id          =
subdomain            =
role_arn             = arn:aws:iam::469845136634:role/ADFS-EnterpriseAdmin

[em-nonprod-admin]
app_id               =
url                  = https://federation.reedelsevier.com/adfs/ls/IdpInitiatedSignOn.aspx
username             = zoldakj@science.regn.net
provider             = ADFS
mfa                  = Auto
skip_verify          = false
timeout              = 0
aws_urn              = urn:amazon:webservices
aws_session_duration = 3600
aws_profile          = em-nonprod-admin
resource_id          =
subdomain            =
role_arn             = arn:aws:iam::544785467518:role/ADFS-EnterpriseAdmin

[em-playground-nonprod-admin]
app_id               =
url                  = https://federation.reedelsevier.com/adfs/ls/IdpInitiatedSignOn.aspx
username             = zoldakj@science.regn.net
provider             = ADFS
mfa                  = Auto
skip_verify          = false
timeout              = 0
aws_urn              = urn:amazon:webservices
aws_session_duration = 3600
aws_profile          = em-playground-nonprod-admin
resource_id          =
subdomain            =
role_arn             = arn:aws:iam::027582772594:role/ADFS-EnterpriseAdmin

[em-prod-admin]
app_id               =
url                  = https://federation.reedelsevier.com/adfs/ls/IdpInitiatedSignOn.aspx
username             = zoldakj@science.regn.net
provider             = ADFS
mfa                  = Auto
skip_verify          = false
timeout              = 0
aws_urn              = urn:amazon:webservices
aws_session_duration = 3600
aws_profile          = em-prod-admin
resource_id          =
subdomain            =
role_arn             = arn:aws:iam::453836842642:role/ADFS-EnterpriseAdmin

[em-tools-prod-admin]
app_id               =
url                  = https://federation.reedelsevier.com/adfs/ls/IdpInitiatedSignOn.aspx
username             = zoldakj@science.regn.net
provider             = ADFS
mfa                  = Auto
skip_verify          = false
timeout              = 0
aws_urn              = urn:amazon:webservices
aws_session_duration = 3600
aws_profile          = em-tools-prod-admin
resource_id          =
subdomain            =
role_arn             = arn:aws:iam::806064321552:role/ADFS-EnterpriseAdmin

[em-sandbox-prod-admin]
app_id               =
url                  = https://federation.reedelsevier.com/adfs/ls/IdpInitiatedSignOn.aspx
username             = zoldakj@science.regn.net
provider             = ADFS
mfa                  = Auto
skip_verify          = false
timeout              = 0
aws_urn              = urn:amazon:webservices
aws_session_duration = 3600
aws_profile          = em-sandbox-prod-admin
resource_id          =
subdomain            =
role_arn             = arn:aws:iam::534259481618:role/ADFS-EnterpriseAdmin
