- name: Docker
  hosts: 127.0.0.1
  connection: local

  tasks:
    - name: Install Docker pre-requisites
      become: yes
      apt:
        package: gnupg-agent

    - name: Add Docker APT package key
      become: yes
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg

    - name: Add Docker APT package repository
      become: yes
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
        filename: docker
        update_cache: no
      register: apt_repository

    - name: Update APT package list
      become: yes
      apt:
        update_cache: yes
      when: apt_repository.changed
      register: apt_update
      retries: 5
      until: apt_update is success

    - name: Install Docker
      become: yes
      apt:
        package:
          - docker-ce
          - docker-compose

    - name: Enable Docker for current user
      become: yes
      user:
        name={{ lookup('env', "USER") }}
        groups=docker
        append=yes
