- name: Docker (customization)
  hosts: 127.0.0.1
  connection: local

  vars:
    is_mac: "{{ ansible_distribution == 'MacOSX' }}"

  tasks:
    # Common

    - name: Add custom Docker commands
      blockinfile:
        path: ~/.bashrc
        marker: "### {mark} Ansible managed: Docker customization"
        block: |
          docker-clean() {
            _containers=$(docker ps --quiet --filter 'status=exited')
            [[ -z ${_containers// } ]] || docker rm $_containers

            _images=$(docker images --all --quiet --filter 'dangling=true')
            [[ -z ${_images// } ]] || docker rmi $_images
          }
          docker-start() {
            [ -S /var/run/docker.sock ] || sudo service docker start
          }
          docker-stop() {
            [ ! -S /var/run/docker.sock ] || sudo service docker stop
          }

    # Linux

    - name: Ensure configuration folder exists (Linux)
      become: yes
      file:
        path: /etc/docker
        state: directory
      when: not is_mac

    - name: Configure default Docker network (Linux)
      become: yes
      copy:
        dest: /etc/docker/daemon.json
        content: |
          {
            "default-address-pools": [
              { "base": "192.168.240.0/20", "size": 24 }
            ],
            "experimental": true
          }
      when: not is_mac

    # macOS

    - name: Ensure configuration folder exists (macOS)
      file:
        path: ~/.docker
        state: directory
      when: is_mac

    - name: Configure default Docker network (macOS)
      copy:
        dest: ~/.docker/daemon.json
        content: |
          {
            "default-address-pools": [
              { "base": "192.168.240.0/20", "size": 24 }
            ],
            "experimental": true
          }
      when: is_mac
